@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Montserrat:wght@200&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Montserrat:wght@200&family=Poppins:wght@100&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 18, 18);
}

.side-bar {
    position: fixed;
    height: 100vh;
    width: 80px;
    display: flex;
    padding: 1rem;
    border-right: 1px solid white;
    align-items: center;
    justify-content: center;
}

.side-icons {
    position: fixed;
    top: 35%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3rem;
}

li {
    list-style: none;
}

.redbutton {
    display: flex;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 0.71rem;
    float: right;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 100%;
    width: 5rem;
    cursor: pointer;
    color: white;
}

.sign {
    position: fixed;
    display: flex;
    right: 3%;
    top: 2%;
    gap: 4%;
}


input {
    border-color: transparent;
    width: 100%;
}

input:focus {
    border-color: transparent;
    outline: none;
}


.formclass {
    position: relative;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    background-color: rgba(45, 45, 45, 0.4);
    border: 3px solid transparent;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formclassin {
    position: relative;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    background-color: rgba(45, 45, 45, 0.4);
    border: 3px solid transparent;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    padding-top: 7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputholder {
    background-color: white;
    padding: 0.7rem;
    border-radius: 1rem;
    width: 120%;

}

#signer {
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 0%;
    display: flex;
    width: 5.9rem;
    height: 2rem;
    font-size: 1rem;
}

#netflixicon {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 3%;
    width: 200px;
    cursor: pointer;
}

.homeicon {
    position: fixed;
    right: 1%;
    top: 1%;
    color: #e50914;
    font-size: 25px;
}

.formerr {
    position: fixed;
    top: 65%;
    font-size: 12px;
    color: red;
}

.gosign {
    font-size: 15px;
    color: rgb(0, 123, 254);
}

#signout {
    font-size: 13px;
    width: 100%;
}

.searchbar {
    right: 40%;
    top: 10rem;

}

.components {
    color: white;
}

.list-icons {
    cursor: pointer;
}

.component-div {
    position: relative;
    display: flex;
    top: 5rem;
    left: 8rem;
    width: 80%;
    height: 70vh;


}

.search {
    position: relative;
    height: 3rem;
    display: flex;
    width: 70vw;
    top: 50%;
    height: 2.5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 500;
    text-align: center;

}

.item-holder {
    display: flex;
    gap: 3rem;
}