@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Montserrat:wght@200&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Montserrat:wght@200&family=Poppins:wght@100&family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/netflix-font');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 18, 18);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.side-bar {
    position: fixed;
    height: 100vh;
    width: 80px;
    display: flex;
    padding: 1rem;
    border-right: 1px solid white;
    align-items: center;
    justify-content: center;
}

.side-icons {
    position: fixed;
    top: 35%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3rem;
}

li {
    list-style: none;
}

.redbutton {
    display: flex;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 0.71rem;
    float: right;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 100%;
    width: 5rem;
    cursor: pointer;
    color: white;
}

.sign {
    position: fixed;
    display: flex;
    right: 3%;
    top: 2%;
    gap: 4%;
}


input {
    border-color: transparent;
    width: 100%;
}

input:focus {
    border-color: transparent;
    outline: none;
}


.formclass {
    position: relative;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    background-color: rgba(45, 45, 45, 0.4);
    border: 3px solid transparent;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formclassin {
    position: relative;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    background-color: rgba(45, 45, 45, 0.4);
    border: 3px solid transparent;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    padding-top: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputholder {
    background-color: white;
    padding: 0.7rem;
    border-radius: 1rem;
    width: 120%;

}

#signer {
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 0%;
    display: flex;
    width: 5.9rem;
    height: 2rem;
    font-size: 1rem;
}

#netflixicon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.homeicon {
    position: fixed;
    right: 1%;
    top: 1%;
    color: #e50914;
    font-size: 25px;
}

.formerr {
    position: fixed;
    top: 65%;
    font-size: 12px;
    color: red;
}

.gosign {
    font-size: 15px;
    color: rgb(0, 123, 254);
}

#signout {
    font-size: 13px;
    width: 100%;
}

.components {
    color: white;
}

.list-icons {
    cursor: pointer;
}

.component-div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 4rem;
    left: 8rem;
    width: 80%;
    height: 70vh;
    gap: 3rem;
}

.search-component-div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 2rem;
    left: 5rem;
    width: 90%;
    height: 70vh;
    gap: 3rem;
}

.search {
    position: relative;
    height: 3rem;
    display: flex;
    width: 75vw;
    height: 2.5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 500;
    text-align: center;

}

.item-holder {
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}

.item-poster {
    width: 130px;
    height: 200px;
}

.item-poster-slider {
    width: 160px;
    object-fit: cover;
}

.items {
    position: relative;
    margin-left: 10rem;
    display: inline-block;
    width: 100%;

}

.search-item {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    max-width: 200px;
    flex-wrap: wrap;
    text-align: center;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-width: 200px;
    flex-wrap: wrap;
    text-align: center;
}

.welcome-screen {
    position: relative;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 100%;
}


.netflix-text {
    position: relative;
    font-family: 'Bebas Neue';
    color: red;
    font-size: 18px;
    text-align: center;
}

.home-icon {
    width: 30rem;
    position: relative;
    display: flex;
}

.item-results {
    height: 100vh;
    width: 80%;
}

.items-searched {
    position: relative;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1rem;
}

.search-holder {
    position: relative;
    display: flex;
    flex-direction: col;
    align-items: center;
    gap: 1rem;
}

.search-component {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    top: 2rem;
    align-items: center;
}

.titles {
    width: 130px;
}

.error {
    color: white;
    font-size: 30px;
}

.titles-slider {
    max-width: 160px;
}

.movie-show-div {
    position: relative;
    left: 8rem;
}


.movie-show {
    display: flex;
    position: relative;
    top: 10rem;
}

.movie-show-poster {
    width: 300px;
    height: 533px;

}

.movie-show-desc-holder {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    left: 40rem;
    overflow-wrap: break-word;
    width: 50%;
    align-items: center;
}

.movie-show-title {
    position: relative;
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.movie-show-desc {
    position: relative;
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

.movie-show-genres {
    position: relative;
    font-family: 'Bebas Neue';
    color: rgb(255, 0, 0);
    font-size: 16px;
    text-align: center;
    display: flex;
    gap: 5px;
}

.avatar-holder {
    position: relative;
    display: flex;
    bottom: 29%;
    gap: 1rem;
    align-items: center;
}

.rating {
    text-align: center;
    border: solid 1px rgb(119, 118, 118);
    padding: 4px;
}

.play {
    position: relative;
    color: red;
    font-size: 40px;
}

.movie-logo {
    width: 200px;
}

.select-seasons {
    border-color: white;
}

.form {
    color: 'white';
}

.season_position {
    position: relative;
    display: inline-block;
    width: 300px;
}

.test {
    border: 1px solid white;
    width: 100%;
    padding: 0%;
}

.episode-image {
    width: 100px;
}

.season-display {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h5 {
    font-size: 17px;
    font-weight: 200;
}

.episode-overview {
    position: relative;
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    display: flex;
}

.form-select {
    position: absolute;
    left: 6rem;
    top: 14rem;
}