* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 18, 18);
}

.side-bar {
    position: fixed;
    height: 100vh;
    width: 80px;
    display: flex;
    padding: 1rem;
    border-right: 1px solid white;
    align-items: center;
    justify-content: center;
}

.side-icons {
    position: relative;
    bottom: 10%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2.5rem;
}

li {
    list-style: none;
}

button {
    display: flex;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 0.71rem;
    float: right;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 100%;
    width: 5rem;
    cursor: pointer;
    color: white;
}

.sign {
    position: fixed;
    display: flex;
    right: 3%;
    top: 2%;
    gap: 4%;
}


input {
    border-color: transparent;
    width: 100%;
}

input:focus {
    border-color: transparent;
    outline: none;
}


.formclass {
    position: fixed;
    right: 50%;
    top: 20%;
    transform: translateX(50%);
    background-color: rgba(45, 45, 45, 0.4);
    border: 3px solid transparent;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputholder {
    display: inline;
    align-items: flex-start;
    background-color: white;
    padding: 0.7rem;
    border-radius: 1rem;
    width: 120%;

}

#signup {
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 0%;
    display: flex;
    width: 5.9rem;
    height: 2rem;
    font-size: 1rem;
}

#netflixicon {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 3%;
    width: 200px;
}